@font-family: 'Raleway', sans-serif;

body{
	font-family: 'Raleway', sans-serif;
}

.navbar{
	background-color: #CC0001;
	color: yellow;
}

.navbar p{
	color: yellow !important;
}

.button{
	background-color: white;
}


.navbar-brand{
	color: yellow !important;
}


.couleur a{
	color: yellow !important;
}

.dropdown a{
	background-color: #CC0001;
};
}

.navbar img{
	height: 25px;
}








.pizza{
	border: 1px inset red;
	height: 160px;
	padding: 1px;
	font-size: 14px;
	line-height: 15px;
	margin-bottom: 25px;
	
}

@media all and (max-device-width: 768px){
	.pizza{
		height: 130px;
		margin-bottom: 5px;
	}
	
}



/*MENU*/
.menu{
	border: 3px dashed #CC0001;
	border-radius: 15px;
	margin-top: 25px;
	background-color: white;
}

.menu .row{
	box-shadow: 5px 5px 15px 0 #c2c2c2;
	padding: 1px;
	border-radius: 2px;
	margin-left: 25px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.des_pizza h3{
	font-weight: bold;

}

.prix p{
	border: 1px dotted #CC0001;
	height: 65px;
	border-radius: 6px;
	margin-top: 10px;
	text-align: center;
	line-height: 60px;
}

.menu .titre_menu{
	color: #CCCB00;
	border: 0px;
	text-align: right;
	margin-bottom: 2px;
}

.titre_menu p{
	border:0px;
	font-size: 1.2em;
}